In [24]:
import requests
import os
import zipfile
import pandas as pd
import re

# Baixando arquivos

In [4]:
url = "https://files.grouplens.org/datasets/movielens/ml-1m.zip"
url2 = "https://files.grouplens.org/datasets/movielens/ml-1m-README.txt"
local_filename = "ml-1m.zip"
local_readme = "ml-1m-README.txt"

In [3]:
with requests.get(url, stream=True) as response:
    response.raise_for_status()
    with open(local_filename, 'wb') as file:
        for chunk in response.iter_content(chunk_size=8192):
            file.write(chunk)

In [5]:
with requests.get(url2, stream=True) as response:
    response.raise_for_status()
    with open(local_readme, 'wb') as file:
        for chunk in response.iter_content(chunk_size=8192):
            file.write(chunk)

In [13]:
extract_dir = os.path.dirname(os.path.abspath(local_filename))

In [14]:
with zipfile.ZipFile(local_filename, 'r') as zip_ref:
    zip_ref.extractall(extract_dir)

# Manipulação de dados

In [15]:
file_path1 = "ml-1m/ratings.dat"
file_path2 = "ml-1m/movies.dat"

In [16]:
ratings = pd.read_csv(file_path1, sep='::', engine='python', header=None, names=['UserID', 'MovieID', 'Rating', 'Timestamp'])

In [18]:
movies = pd.read_csv(file_path2, sep='::', engine='python', header=None, names=['MovieID', 'Title', 'Genres'], encoding='ISO-8859-1')

In [22]:
movies['Genres'] = movies['Genres'].str.replace('|', ',')

In [23]:
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation,Children's,Comedy
1        2                      Jumanji (1995)  Adventure,Children's,Fantasy
2        3             Grumpier Old Men (1995)                Comedy,Romance
3        4            Waiting to Exhale (1995)                  Comedy,Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [25]:
movies['Year'] = movies['Title'].apply(lambda x: re.search(r'\((\d{4})\)', x).group(1) if re.search(r'\((\d{4})\)', x) else None)

In [31]:
null_counts = movies.isnull().sum()
null_counts

MovieID    0
Title      0
Genres     0
Year       0
dtype: int64