In [41]:
import psycopg2
from config import load_config
import pandas as pd
import folium
import os
from sklearn.cluster import DBSCAN
from geopy.distance import geodesic
import numpy as np
import json
from sqlalchemy import create_engine
import geopandas as gpd
from shapely.geometry import Polygon
import numpy as np

In [7]:
def capturar_data_mapa(conn, table_name, linha):
    cur = conn.cursor()
    all_data = [] 
    try:
        fetch_query = f'''
        SELECT latitude::double precision, longitude::double precision
        FROM {table_name}
        WHERE linha='{linha}'
        '''
        cur.execute(fetch_query)
        rows = cur.fetchall()
        all_data.extend(rows)
    except Exception as e:
            print(f"Erro ao executar a query na tabela {table_name}: {e}")
            conn.rollback()
    else:
         conn.commit()
    cur.close()
    return all_data

In [8]:
def limpar_dados_tabela(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna hour, se não existir
        cur.execute(f"ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS hour INTEGER;")
        
        # Atualizar a coluna hour com base no datahora
        cur.execute(f"UPDATE {table_name} SET hour = EXTRACT(HOUR FROM TO_TIMESTAMP(datahora / 1000));")
        
        # Criar uma nova tabela filtrada
        cur.execute(f"""
            CREATE TABLE {table_name}_filter AS
            SELECT *
            FROM {table_name}
            WHERE hour BETWEEN 8 AND 22;
        """)
        
        # Remover a coluna hour das tabelas
        cur.execute(f"ALTER TABLE {table_name} DROP COLUMN hour;")
        cur.execute(f"ALTER TABLE {table_name}_filter DROP COLUMN hour;")
        
        # Commit das alterações
        conn.commit()
        print(f"Alterações na tabela {table_name} foram comitadas com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao limpar dados da tabela {table_name}: {e}")
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}.")

In [9]:
def adicionar_geom(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna geom se não existir
        cur.execute(f"""
            ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS geom geography(Point, 4326);
        """)
        
        # Atualizar a coluna geom com os valores de longitude e latitude
        cur.execute(f"""
            UPDATE {table_name}
            SET geom = ST_SetSRID(ST_MakePoint(longitude::double precision, latitude::double precision), 4326);
        """)
        
        # Commit das alterações
        conn.commit()
        print(f"Coluna geom criada e preenchida na tabela {table_name}_filter com sucesso.")
    except Exception as e:
        # Rollback em caso de erro
        conn.rollback()
        print(f"Erro ao atualizar a tabela {table_name}_filter: {e}")
    finally:
        # Fechar o cursor
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [10]:
def filtra_linhas(table_name, linhas_de_interesse, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    linhas_str = ', '.join([f"'{linha}'" for linha in linhas_de_interesse])
    try:
        # Criar tabela intermediária filtrada
        cur.execute(f"""
            CREATE TABLE {temp_table_name} AS
            SELECT *
            FROM {table_name}_filter
            WHERE linha IN ({linhas_str});
        """)
        print(f"Tabela intermediária {temp_table_name} criada com sucesso.")
        conn.commit()
        print(f"Alterações na tabela {temp_table_name} foram comitadas com sucesso.")
    except Exception as e:
        print(f"Erro ao criar a tabela intermediária {temp_table_name}: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {temp_table_name}.")

In [11]:
def sobrescreve_tabelas(table_name, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    try:
        # Verificar se a tabela temporária existe
        cur.execute(f"""
            SELECT EXISTS (
                SELECT FROM pg_tables
                WHERE schemaname = 'public' AND tablename = '{temp_table_name}'
            );
        """)
        exists = cur.fetchone()[0]

        if exists:
            # Excluir a tabela original
            cur.execute(f"DROP TABLE IF EXISTS {table_name}_filter;")
            # Renomear a tabela temporária para o nome original
            cur.execute(f"ALTER TABLE {temp_table_name} RENAME TO {table_name}_filter;")
            print(f"Tabela {table_name}_filter sobrescrita com sucesso.")
            conn.commit()
            print(f"Tabela {table_name}_filter comitada com sucesso.")
        else:
            print(f"Tabela temporária {temp_table_name} não encontrada.")
            conn.rollback()
    except Exception as e:
        print(f"Erro ao sobrescrever a tabela {table_name}_filter: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [12]:
def margem_erro(coord1, coord2, radius=100):
    return geodesic(coord1, coord2).meters <= radius

In [13]:
def criar_tabela_destino(conn):
    cur = conn.cursor()
    try:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS combined_table_all AS
            SELECT * FROM dia_0105 WHERE 1=0;
        """)
        conn.commit()
        print("Tabela de destino 'combined_table' criada com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao criar a tabela de destino: {e}")
    finally:
        cur.close()

In [14]:
def inserir_dados(table_name, conn):
    cur = conn.cursor()
    try:
        cur.execute(f"INSERT INTO combined_table_all SELECT * FROM {table_name};")
        conn.commit()
        print(f"Dados inseridos na tabela 'combined_table' a partir de '{table_name}' com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao inserir dados da tabela {table_name}: {e}")
    finally:
        cur.close()

In [15]:
def connect(config):
    """ Connect to the PostgreSQL database server """
    try:
        # connecting to the PostgreSQL server
        with psycopg2.connect(**config) as conn:
            print('Connected to the PostgreSQL server.')
            return conn
    except (psycopg2.DatabaseError, Exception) as error:
        print(error)

In [16]:
config = load_config()
conn = connect(config)

Connected to the PostgreSQL server.

In [12]:
linhas_de_interesse = ['483', '864', '639', '3', '309', '774', '629', '371', '397', '100', '838', '315', '624', '388', '918', '665', '328', '497', '878', '355', '138', '606', '457', '550', '803', '917', '638', '2336', '399', '298', '867', '553', '565', '422', '756', '186012003', '292', '554', '634', '232', '415', '2803', '324', '852', '557', '759', '343', '779', '905', '108']

In [13]:
table_names = ['dia_0105', 'dia_0205', 'dia_0305', 'dia_0405', 'dia_0505', 'dia_0605', 'dia_0705', 'dia_0805', 'dia_0905', 'dia_1005', 'dia_2504', 'dia_2604', 'dia_2704', 'dia_2804', 'dia_2904', 'dia_3004']

In [157]:
"""for table in table_names:
    limpar_dados_tabela(table, conn)"""

'for table in table_names:\n    limpar_dados_tabela(table, conn)'

In [ ]:
"""for table in table_names:
    adicionar_geom(table, conn)"""

In [ ]:
"""for table in table_names:
    filtra_linhas(table, linhas_de_interesse, conn)
    sobrescreve_tabelas(table, conn)"""

In [136]:
"""for linha in linhas_de_interesse:
    data = capturar_data_mapa(conn, 'dia_2704_filter', linha)
    if data:
        avg_latitude = sum([d[0] for d in data]) / len(data)
        avg_longitude = sum([d[1] for d in data]) / len(data)
        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)
        # Adicione os pontos ao mapa
        for lat, lon in data:
            folium.CircleMarker(location=[lat, lon], radius=1, color='blue').add_to(m)
        output_path = os.path.join(f'trajetos/output_map_{linha}.html')
        m.save(output_path)
        print(f"Mapa salvo em {output_path}")"""

'for linha in linhas_de_interesse:\n    data = capturar_data_mapa(conn, \'dia_2704_filter\', linha)\n    if data:\n        avg_latitude = sum([d[0] for d in data]) / len(data)\n        avg_longitude = sum([d[1] for d in data]) / len(data)\n        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)\n        # Adicione os pontos ao mapa\n        for lat, lon in data:\n            folium.CircleMarker(location=[lat, lon], radius=1, color=\'blue\').add_to(m)\n        output_path = os.path.join(f\'trajetos/output_map_{linha}.html\')\n        m.save(output_path)\n        print(f"Mapa salvo em {output_path}")'

In [ ]:
"""criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)"""

In [29]:
pontos_de_parada = {}

In [30]:
query = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 600; -- 10 minutes in seconds
"""

In [31]:
df = pd.read_sql(query, conn)

/tmp/ipykernel_7403/1168034203.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [32]:
df_unique = df.drop_duplicates(subset=['grp'])

In [35]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_unique.loc[df_unique['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        if margem_erro(ponto, pontos_garagem[linha]):
             continue
        encontrado = False
        if row['total_duration'] > 2400:
            continue
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [36]:
pontos_finais = {}

In [ ]:
for linha in linhas_de_interesse:
    print(f"{linha} {pontos_de_parada[linha][:4]}")

397
388
759
138 
tiveram resultados inconclusivos, adicionarei manualmente os pontos finais.

In [38]:
for linha in linhas_de_interesse:
    pontos_de_parada_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        if (pontos_de_parada_linha[1][1] - pontos_de_parada_linha[2][1]) < 0.2*pontos_de_parada_linha[2][1]:
            d2 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]).meters
            d3 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]).meters
            if d2 > d3:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]
            else:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]]
        else:
            pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]

In [ ]:
for linha in pontos_finais.keys():
    print(f"{linha} {pontos_finais[linha]}")

In [40]:
pontos_finais['397'] = [(-22.90202, -43.55532), (-22.90121, -43.17778)]
pontos_finais['388'] = [(-22.93554, -43.65626), (-22.90121, -43.17778)]
pontos_finais['759'] = [(-22.93554, -43.65626), (-22.83152, -43.34393)]

In [ ]:
criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)

In [140]:
query_garagem = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table_all
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
WHERE EXTRACT(HOUR FROM datahora_ts) >= 22 OR EXTRACT(HOUR FROM datahora_ts) < 5
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 10 minutes in seconds
"""

In [141]:
df_garagem = pd.read_sql(query_garagem, conn)

/tmp/ipykernel_7675/3362709450.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_garagem = pd.read_sql(query_garagem, conn)

In [142]:
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [12]:
pontos_de_parada = {}

In [144]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

759, 388 não apresentaram resultados conclusivos

In [146]:
pontos_garagem = {}

In [147]:
for linha in linhas_de_interesse:
    pontos_de_garagem_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        pontos_garagem[linha] = pontos_de_garagem_linha[0][0]

In [ ]:
for linha in pontos_garagem.keys():
    print(f"{linha} {pontos_garagem[linha]}")

In [151]:
query_garagem = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 10 minutes in seconds
"""

In [ ]:
df_garagem = pd.read_sql(query_garagem, conn)
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [28]:
pontos_de_parada = {}

In [154]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

In [157]:
pontos_garagem['759'] = (-22.93569, -43.65591)
pontos_garagem['388'] = (-22.93543, -43.65633)

In [41]:
arquivo = 'dicionarios.txt'

In [42]:
with open(arquivo, 'w') as f:
    json.dump({'dicionario1': pontos_finais, 'dicionario2': pontos_garagem}, f, indent=4)

In [33]:
with open(arquivo, 'r') as f:
    dados = json.load(f)

In [34]:
pontos_finais = dados['dicionario1']
pontos_garagem = dados['dicionario2']

In [29]:
fatia = pd.read_sql("SELECT * FROM combined_table WHERE linha = '315'", conn)

/tmp/ipykernel_4931/3054511583.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  fatia = pd.read_sql("SELECT * FROM combined_table WHERE linha = '315'", conn)

In [ ]:
print(fatia.head())

In [31]:
fatia.columns

Index(['id', 'ordem', 'latitude', 'longitude', 'datahora', 'velocidade',
       'linha', 'datahoraenvio', 'datahoraservidor', 'geom', 'unique_id',
       'sentido'],
      dtype='object')

In [32]:
fatia['sentido'] = -1
ordens = fatia['ordem'].unique()
ultimo_final = ()
list_temp = []
to_delete = []
garagem_ultimo = 0
for ordem in ordens:
    sentido = 0
    filtrados = fatia[fatia['ordem'] == ordem].sort_values(by='datahora').copy()
    for index, row in filtrados.iterrows():
        fatia.loc[fatia['unique_id'] == row['unique_id'], 'sentido'] = sentido
        ponto = (row['latitude'], row['longitude'])
        list_temp.append(row['unique_id'])
        if margem_erro(ponto, pontos_finais[row['linha']][0]) and pontos_finais[row['linha']][0] != ultimo_final:
            if garagem_ultimo == 1:
                garagem_ultimo = 0
                to_delete.append(list_temp[:])
            sentido = abs(sentido -1)
            list_temp[:] = []
            ultimo_final = pontos_finais[row['linha']][0]
        elif margem_erro(ponto, pontos_finais[row['linha']][1]) and pontos_finais[row['linha']][1] != ultimo_final:
            if garagem_ultimo == 1:
                garagem_ultimo = 0
                to_delete.append(list_temp[:])
            sentido = abs(sentido -1)
            list_temp = []
            ultimo_final = pontos_finais[row['linha']][1]
        elif margem_erro(ponto, pontos_garagem[row['linha']], radius= 200):
            garagem_ultimo = 1
        if index == filtrados.index[-1] and garagem_ultimo == 1:
            to_delete.append(list_temp[:])

In [34]:
to_delete_flat = [item for sublist in to_delete for item in sublist]

In [39]:
print(len(to_delete_flat))

711461

In [35]:
fatia = fatia[~fatia['unique_id'].isin(to_delete_flat)]

In [36]:
fatia['sentido'].value_counts()

sentido
1    29917
0    22893
Name: count, dtype: int64

In [43]:
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')

In [23]:
linhas_de_interesse = ['483', '864', '639', '3', '309', '774', '629', '371', '100', '838', '315', '624', '388', '918', '665', '328', '497', '878', '355', '606', '457', '550', '803', '917', '638', '2336', '399', '298', '867', '553', '565', '422', '756', '292', '554', '634', '232', '415', '2803', '852', '557', '759', '343', '779', '905', '108']

In [ ]:
for linha in corrigir:
    cur = conn.cursor()
    try:
        cur.execute(f"""
            "DELETE FROM combined_table WHERE linha = '{linha}'"
        """)
        conn.commit()
    except Exception as e:
        conn.rollback()
    finally:
        cur.close()
    print(f"Processando linha {linha}")
    fatia = pd.read_sql(f"SELECT * FROM combined_table WHERE linha = '{linha}'", conn)
    fatia['sentido'] = -1
    ordens = fatia['ordem'].unique()
    ultimo_final = ()
    list_temp = []
    to_delete = []
    garagem_ultimo = 0
    for ordem in ordens:
        sentido = 0
        filtrados = fatia[fatia['ordem'] == ordem].sort_values(by='datahora').copy()
        for index, row in filtrados.iterrows():
            fatia.loc[fatia['unique_id'] == row['unique_id'], 'sentido'] = sentido
            ponto = (row['latitude'], row['longitude'])
            list_temp.append(row['unique_id'])
            if margem_erro(ponto, pontos_finais[row['linha']][0]) and pontos_finais[row['linha']][0] != ultimo_final:
                if garagem_ultimo == 1:
                    garagem_ultimo = 0
                    to_delete.append(list_temp[:])
                sentido = abs(sentido -1)
                list_temp[:] = []
                ultimo_final = pontos_finais[row['linha']][0]
            elif margem_erro(ponto, pontos_finais[row['linha']][1]) and pontos_finais[row['linha']][1] != ultimo_final:
                if garagem_ultimo == 1:
                    garagem_ultimo = 0
                    to_delete.append(list_temp[:])
                sentido = abs(sentido -1)
                list_temp = []
                ultimo_final = pontos_finais[row['linha']][1]
            elif margem_erro(ponto, pontos_garagem[row['linha']], radius= 200):
                garagem_ultimo = 1
            if index == filtrados.index[-1] and garagem_ultimo == 1:
                to_delete.append(list_temp[:])
    to_delete_flat = [item for sublist in to_delete for item in sublist]
    fatia = fatia[~fatia['unique_id'].isin(to_delete_flat)]
    print(fatia['sentido'].value_counts())
    fatia.to_sql('new_combined_table', engine, if_exists='append', index=False)

483,639,309 759, 2803, 415, 292, 554, 422 pra caramba, 399, 2336, 638 pra cacete, 917, 803, 550, 457

In [17]:
arquivo2 = 'dicionario_paradas.txt'

In [18]:
with open(arquivo2, 'w') as f:
    json.dump({'dicionario1': dicionario_paradas}, f, indent=4)

Criando tabelas para os dias de semana e fins de semana, dadas as diferenças de trajeto

In [2]:
dias_da_semana = ['dia_2504_filter', 'dia_2604_filter', 'dia_2904_filter', 'dia_3004_filter', 'dia_0105_filter', 'dia_0205_filter', 'dia_0305_filter', 'dia_0605_filter', 'dia_0705_filter', 'dia_0805_filter', 'dia_0905_filter', 'dia_1005_filter']

In [3]:
fins_de_semana = ['dia_2704_filter', 'dia_2804_filter', 'dia_0405_filter', 'dia_0505_filter']

In [ ]:
def obter_dia_da_semana(nome_tabela):
    data_str = nome_tabela.split('_')[1]
    data = pd.to_datetime(f"2024-{data_str[2:]}-{data_str[:2]}")
    return data.day_name()
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')
for tabela in dias_da_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('dias_uteis_combinado', engine, if_exists='append', index=False)

In [ ]:
for tabela in fins_de_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('fds_combinado', engine, if_exists='append', index=False)

Adicionando uma tabela composta apenas pela madrugada dos fins de semana, onde a chance dos ônibus estarem na garagem é altíssima

In [21]:
def madrugada_fds(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna hour, se não existir
        cur.execute(f"ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS hour INTEGER;")
        
        # Atualizar a coluna hour com base no datahora
        cur.execute(f"UPDATE {table_name} SET hour = EXTRACT(HOUR FROM TO_TIMESTAMP(datahora / 1000));")
        
        # Criar uma nova tabela filtrada
        cur.execute(f"""
            CREATE TABLE {table_name}_madrugada AS
            SELECT *
            FROM {table_name}
            WHERE hour BETWEEN 22 AND 06;
        """)
        
        # Remover a coluna hour das tabelas
        cur.execute(f"ALTER TABLE {table_name} DROP COLUMN hour;")
        cur.execute(f"ALTER TABLE {table_name}_madrugada  DROP COLUMN hour;")
        
        # Commit das alterações
        conn.commit()
        print(f"Alterações na tabela {table_name} foram comitadas com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao limpar dados da tabela {table_name}: {e}")
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}.")

In [19]:
fins_de_semana_bruto = ['dia_2704', 'dia_2804', 'dia_0405', 'dia_0505']

In [22]:
for tabela in fins_de_semana_bruto:
    madrugada_fds(tabela, conn)

Alterações na tabela dia_2704 foram comitadas com sucesso.
Cursor fechado para a tabela dia_2704.
Alterações na tabela dia_2804 foram comitadas com sucesso.
Cursor fechado para a tabela dia_2804.
Alterações na tabela dia_0405 foram comitadas com sucesso.
Cursor fechado para a tabela dia_0405.
Alterações na tabela dia_0505 foram comitadas com sucesso.
Cursor fechado para a tabela dia_0505.

In [ ]:
for tabela in fins_de_semana_bruto:
    df = pd.read_sql(f"SELECT * FROM {tabela}_madrugada", conn)
    df.to_sql('fds_noite', engine, if_exists='append', index=False)

Tentando encontrar as garagens a partir dos fins de semana

Criando Grids

In [40]:
teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

/tmp/ipykernel_14735/1545976685.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

In [42]:
teste.columns

Index(['id', 'ordem', 'latitude', 'longitude', 'datahora', 'velocidade',
       'linha', 'datahoraenvio', 'datahoraservidor', 'geom', 'dia_da_semana'],
      dtype='object')

In [43]:
def criar_grid(min_lat, min_lon, max_lat, max_lon, cell_size):
    """
    Cria uma grid de células quadradas sobre uma área específica definida pelos limites de latitude e longitude.

    Parameters:
    min_lat (float): Latitude mínima da área.
    min_lon (float): Longitude mínima da área.
    max_lat (float): Latitude máxima da área.
    max_lon (float): Longitude máxima da área.
    cell_size (float): Tamanho da célula da grid em metros.

    Returns:
    GeoDataFrame: Grid criada sobre a área especificada.
    """
    # Inicializar lista de polígonos da grid
    grid_polygons = []

    # Latitude e longitude inicial
    lat = min_lat
    while lat < max_lat:
        lon = min_lon
        while lon < max_lon:
            # Calcular o próximo ponto à direita e acima
            d_lat = distance(meters=cell_size).destination(Point(lat, lon), 0).latitude - lat
            d_lon = distance(meters=cell_size).destination(Point(lat, lon), 90).longitude - lon
            
            # Criar um polígono para a célula da grid
            polygon = Polygon([
                (lon, lat),
                (lon + d_lon, lat),
                (lon + d_lon, lat + d_lat),
                (lon, lat + d_lat)
            ])
            
            grid_polygons.append(polygon)
            
            lon += d_lon
        lat += d_lat

    # Criar um GeoDataFrame a partir dos polígonos da grid
    grid = gpd.GeoDataFrame({'geometry': grid_polygons})
    
    # Definir o sistema de coordenadas EPSG:4326
    grid.set_crs(epsg=4326, inplace=True)
    
    return grid