In [1]:
import psycopg2
from config import load_config
import pandas as pd
import folium
import os
from sklearn.cluster import DBSCAN
from geopy.distance import geodesic, distance
import numpy as np
import json
from sqlalchemy import create_engine
import geopandas as gpd
from shapely.geometry import Polygon, Point
from shapely import wkb
import numpy as np
import shapely

In [2]:
def capturar_data_mapa(conn, table_name, linha):
    cur = conn.cursor()
    all_data = [] 
    try:
        fetch_query = f'''
        SELECT latitude::double precision, longitude::double precision
        FROM {table_name}
        WHERE linha='{linha}'
        '''
        cur.execute(fetch_query)
        rows = cur.fetchall()
        all_data.extend(rows)
    except Exception as e:
            print(f"Erro ao executar a query na tabela {table_name}: {e}")
            conn.rollback()
    else:
         conn.commit()
    cur.close()
    return all_data

In [3]:
def limpar_dados_tabela(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna hour, se não existir
        cur.execute(f"ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS hour INTEGER;")
        
        # Atualizar a coluna hour com base no datahora
        cur.execute(f"UPDATE {table_name} SET hour = EXTRACT(HOUR FROM TO_TIMESTAMP(datahora / 1000));")
        
        # Criar uma nova tabela filtrada
        cur.execute(f"""
            CREATE TABLE {table_name}_filter AS
            SELECT *
            FROM {table_name}
            WHERE hour BETWEEN 8 AND 22;
        """)
        
        # Remover a coluna hour das tabelas
        cur.execute(f"ALTER TABLE {table_name} DROP COLUMN hour;")
        cur.execute(f"ALTER TABLE {table_name}_filter DROP COLUMN hour;")
        
        # Commit das alterações
        conn.commit()
        print(f"Alterações na tabela {table_name} foram comitadas com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao limpar dados da tabela {table_name}: {e}")
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}.")

In [4]:
def adicionar_geom(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna geom se não existir
        cur.execute(f"""
            ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS geom geography(Point, 4326);
        """)
        
        # Atualizar a coluna geom com os valores de longitude e latitude
        cur.execute(f"""
            UPDATE {table_name}
            SET geom = ST_SetSRID(ST_MakePoint(longitude::double precision, latitude::double precision), 4326);
        """)
        
        # Commit das alterações
        conn.commit()
        print(f"Coluna geom criada e preenchida na tabela {table_name}_filter com sucesso.")
    except Exception as e:
        # Rollback em caso de erro
        conn.rollback()
        print(f"Erro ao atualizar a tabela {table_name}_filter: {e}")
    finally:
        # Fechar o cursor
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [5]:
def filtra_linhas(table_name, linhas_de_interesse, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    linhas_str = ', '.join([f"'{linha}'" for linha in linhas_de_interesse])
    try:
        # Criar tabela intermediária filtrada
        cur.execute(f"""
            CREATE TABLE {temp_table_name} AS
            SELECT *
            FROM {table_name}_filter
            WHERE linha IN ({linhas_str});
        """)
        print(f"Tabela intermediária {temp_table_name} criada com sucesso.")
        conn.commit()
        print(f"Alterações na tabela {temp_table_name} foram comitadas com sucesso.")
    except Exception as e:
        print(f"Erro ao criar a tabela intermediária {temp_table_name}: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {temp_table_name}.")

In [6]:
def sobrescreve_tabelas(table_name, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    try:
        # Verificar se a tabela temporária existe
        cur.execute(f"""
            SELECT EXISTS (
                SELECT FROM pg_tables
                WHERE schemaname = 'public' AND tablename = '{temp_table_name}'
            );
        """)
        exists = cur.fetchone()[0]

        if exists:
            # Excluir a tabela original
            cur.execute(f"DROP TABLE IF EXISTS {table_name}_filter;")
            # Renomear a tabela temporária para o nome original
            cur.execute(f"ALTER TABLE {temp_table_name} RENAME TO {table_name}_filter;")
            print(f"Tabela {table_name}_filter sobrescrita com sucesso.")
            conn.commit()
            print(f"Tabela {table_name}_filter comitada com sucesso.")
        else:
            print(f"Tabela temporária {temp_table_name} não encontrada.")
            conn.rollback()
    except Exception as e:
        print(f"Erro ao sobrescrever a tabela {table_name}_filter: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [7]:
def margem_erro(coord1, coord2, radius=100):
    return geodesic(coord1, coord2).meters <= radius

In [8]:
def criar_tabela_destino(conn):
    cur = conn.cursor()
    try:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS combined_table_all AS
            SELECT * FROM dia_0105 WHERE 1=0;
        """)
        conn.commit()
        print("Tabela de destino 'combined_table_all' criada com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao criar a tabela de destino: {e}")
    finally:
        cur.close()

In [9]:
def inserir_dados(table_name, conn):
    cur = conn.cursor()
    try:
        cur.execute(f"INSERT INTO combined_table_all SELECT * FROM {table_name};")
        conn.commit()
        print(f"Dados inseridos na tabela 'combined_table' a partir de '{table_name}' com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao inserir dados da tabela {table_name}: {e}")
    finally:
        cur.close()

In [10]:
def connect(config):
    """ Connect to the PostgreSQL database server """
    try:
        # connecting to the PostgreSQL server
        with psycopg2.connect(**config) as conn:
            print('Connected to the PostgreSQL server.')
            return conn
    except (psycopg2.DatabaseError, Exception) as error:
        print(error)

In [11]:
config = load_config()
conn = connect(config)

Connected to the PostgreSQL server.

In [19]:
linhas_de_interesse = ['483', '864', '639', '3', '309', '774', '629', '371', '397', '100', '838', '315', '624', '388', '918', '665', '328', '497', '878', '355', '138', '606', '457', '550', '803', '917', '638', '2336', '399', '298', '867', '553', '565', '422', '756', '186012003', '292', '554', '634', '232', '415', '2803', '324', '852', '557', '759', '343', '779', '905', '108']

In [12]:
table_names = ['dia_0105', 'dia_0205', 'dia_0305', 'dia_0405', 'dia_0505', 'dia_0605', 'dia_0705', 'dia_0805', 'dia_0905', 'dia_1005', 'dia_2504', 'dia_2604', 'dia_2704', 'dia_2804', 'dia_2904', 'dia_3004']

In [157]:
"""for table in table_names:
    limpar_dados_tabela(table, conn)"""

'for table in table_names:\n    limpar_dados_tabela(table, conn)'

In [ ]:
"""for table in table_names:
    adicionar_geom(table, conn)"""

In [ ]:
"""for table in table_names:
    filtra_linhas(table, linhas_de_interesse, conn)
    sobrescreve_tabelas(table, conn)"""

In [136]:
"""for linha in linhas_de_interesse:
    data = capturar_data_mapa(conn, 'dia_2704_filter', linha)
    if data:
        avg_latitude = sum([d[0] for d in data]) / len(data)
        avg_longitude = sum([d[1] for d in data]) / len(data)
        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)
        # Adicione os pontos ao mapa
        for lat, lon in data:
            folium.CircleMarker(location=[lat, lon], radius=1, color='blue').add_to(m)
        output_path = os.path.join(f'trajetos/output_map_{linha}.html')
        m.save(output_path)
        print(f"Mapa salvo em {output_path}")"""

'for linha in linhas_de_interesse:\n    data = capturar_data_mapa(conn, \'dia_2704_filter\', linha)\n    if data:\n        avg_latitude = sum([d[0] for d in data]) / len(data)\n        avg_longitude = sum([d[1] for d in data]) / len(data)\n        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)\n        # Adicione os pontos ao mapa\n        for lat, lon in data:\n            folium.CircleMarker(location=[lat, lon], radius=1, color=\'blue\').add_to(m)\n        output_path = os.path.join(f\'trajetos/output_map_{linha}.html\')\n        m.save(output_path)\n        print(f"Mapa salvo em {output_path}")'

In [ ]:
"""criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)"""

In [30]:
query = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 600; -- 10 minutes in seconds
"""

In [31]:
df = pd.read_sql(query, conn)

/tmp/ipykernel_7403/1168034203.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [32]:
df_unique = df.drop_duplicates(subset=['grp'])

In [35]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_unique.loc[df_unique['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        if margem_erro(ponto, pontos_garagem[linha]):
             continue
        encontrado = False
        if row['total_duration'] > 2400:
            continue
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

397
388
759
138 
tiveram resultados inconclusivos, adicionarei manualmente os pontos finais.

In [38]:
for linha in linhas_de_interesse:
    pontos_de_parada_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        if (pontos_de_parada_linha[1][1] - pontos_de_parada_linha[2][1]) < 0.2*pontos_de_parada_linha[2][1]:
            d2 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]).meters
            d3 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]).meters
            if d2 > d3:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]
            else:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]]
        else:
            pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]

In [40]:
pontos_finais['397'] = [(-22.90202, -43.55532), (-22.90121, -43.17778)]
pontos_finais['388'] = [(-22.93554, -43.65626), (-22.90121, -43.17778)]
pontos_finais['759'] = [(-22.93554, -43.65626), (-22.83152, -43.34393)]

In [ ]:
criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)

In [140]:
query_garagem = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table_all
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
WHERE EXTRACT(HOUR FROM datahora_ts) >= 22 OR EXTRACT(HOUR FROM datahora_ts) < 5
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 10 minutes in seconds
"""

In [141]:
df_garagem = pd.read_sql(query_garagem, conn)

/tmp/ipykernel_7675/3362709450.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_garagem = pd.read_sql(query_garagem, conn)

In [142]:
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [12]:
pontos_de_parada = {}

In [144]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

759, 388 não apresentaram resultados conclusivos

In [146]:
pontos_garagem = {}

In [147]:
for linha in linhas_de_interesse:
    pontos_de_garagem_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        pontos_garagem[linha] = pontos_de_garagem_linha[0][0]

In [ ]:
for linha in pontos_garagem.keys():
    print(f"{linha} {pontos_garagem[linha]}")

In [ ]:
df_garagem = pd.read_sql(query_garagem, conn)
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [28]:
pontos_de_parada = {}

In [154]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

In [157]:
pontos_garagem['759'] = (-22.93569, -43.65591)
pontos_garagem['388'] = (-22.93543, -43.65633)

In [41]:
arquivo = 'dicionarios.txt'

In [42]:
with open(arquivo, 'w') as f:
    json.dump({'dicionario1': pontos_finais, 'dicionario2': pontos_garagem}, f, indent=4)

In [33]:
with open(arquivo, 'r') as f:
    dados = json.load(f)

In [34]:
pontos_finais = dados['dicionario1']
pontos_garagem = dados['dicionario2']

## Criando tabelas para os dias de semana e fins de semana

In [2]:
dias_da_semana = ['dia_2504_filter', 'dia_2604_filter', 'dia_2904_filter', 'dia_3004_filter', 'dia_0105_filter', 'dia_0205_filter', 'dia_0305_filter', 'dia_0605_filter', 'dia_0705_filter', 'dia_0805_filter', 'dia_0905_filter', 'dia_1005_filter']

In [3]:
fins_de_semana = ['dia_2704_filter', 'dia_2804_filter', 'dia_0405_filter', 'dia_0505_filter']

In [ ]:
def obter_dia_da_semana(nome_tabela):
    data_str = nome_tabela.split('_')[1]
    data = pd.to_datetime(f"2024-{data_str[2:]}-{data_str[:2]}")
    return data.day_name()
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')
for tabela in dias_da_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('dias_uteis_combinado', engine, if_exists='append', index=False)

In [ ]:
for tabela in fins_de_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('fds_combinado', engine, if_exists='append', index=False)

Adicionando uma tabela composta apenas pela madrugada dos fins de semana, onde a chance dos ônibus estarem na garagem é altíssima

## Garagens e pontos finais

In [13]:
criar_tabela_destino(conn)

Tabela de destino 'combined_table_all' criada com sucesso.

In [14]:
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')
for tabela in table_names:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df.to_sql('combined_table_all', engine, if_exists='append', index=False)

/tmp/ipykernel_4588/589359576.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {tabela}", conn)

In [24]:
query_garagem_madrugada = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table_all
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
WHERE EXTRACT(HOUR FROM datahora_ts) >= 22 OR EXTRACT(HOUR FROM datahora_ts) < 5
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 3 horas
"""

In [16]:
df_garagem = pd.read_sql(query_garagem_madrugada, conn)

/tmp/ipykernel_4588/3718869355.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_garagem = pd.read_sql(query_garagem_madrugada, conn)

In [17]:
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [60]:
pontos_de_parada = {}

In [61]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [25]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

483 [[(-22.80418, -43.31023), 103]]
864 [[(-22.89368, -43.53259), 110], [(-22.84149, -43.25392), 2]]
639 [[(-22.81763, -43.30176), 256]]
3 [[(-22.88342, -43.49536), 222], [(-22.93548, -43.6565), 1]]
309 [[(-22.87509, -43.24074), 334]]
774 [[(-22.81756, -43.3016), 103], [(-22.84353, -43.24857), 1]]
629 [[(-22.81775, -43.30167), 212], [(-22.84388, -43.24839), 1], [(-22.75517, -43.2938), 1]]
371 [[(-22.87744, -43.36824), 24]]
397 []
100 [[(-22.88907, -43.29319), 231], [(-22.8745, -43.24212), 68], [(-22.84134, -43.25389), 4]]
838 [[(-22.89399, -43.5327), 47]]
315 [[(-22.87549, -43.24131), 109], [(-22.95217, -43.34944), 23], [(-22.81696, -43.30177), 8], [(-22.86062, -43.35616), 2]]
624 [[(-22.87622, -43.36805), 21]]
388 [[(-22.90154, -43.18066), 1], [(-22.93159, -43.6558), 1]]
918 [[(-22.89523, -43.53366), 52], [(-22.84269, -43.25409), 1]]
665 [[(-22.85928, -43.37079), 74], [(-22.81706, -43.39373), 45], [(-22.79242, -43.29449), 41], [(-22.81425, -43.38256), 8], [(-22.80611, -43.3633), 1], [(-22.84344, -43.24859), 1]]
328 [[(-22.81515, -43.18753), 112]]
497 [[(-22.80449, -43.30967), 60]]
878 [[(-22.88064, -43.35695), 74], [(-22.87594, -43.41995), 1]]
355 [[(-22.81683, -43.3015), 62], [(-22.86056, -43.35523), 29], [(-22.84366, -43.24862), 1]]
138 []
606 [[(-22.90259, -43.29907), 3]]
457 [[(-22.88888, -43.29289), 123], [(-22.86871, -43.29263), 36], [(-22.81585, -43.39481), 17]]
550 [[(-22.94975, -43.3482), 223], [(-22.95247, -43.34809), 1]]
803 [[(-22.87612, -43.41912), 34], [(-22.88062, -43.35717), 4], [(-22.93558, -43.37196), 1]]
917 [[(-22.87654, -43.36839), 27]]
638 [[(-22.86042, -43.356), 145]]
2336 [[(-22.91719, -43.6077), 61], [(-22.90241, -43.56149), 1], [(-22.89179, -43.21609), 1]]
399 [[(-22.81743, -43.39355), 79], [(-22.81438, -43.38252), 17]]
298 [[(-22.8162, -43.39447), 109], [(-22.81503, -43.38207), 2], [(-22.90555, -43.1735), 1]]
867 [[(-22.89435, -43.53227), 25]]
553 [[(-22.95321, -43.34991), 63], [(-22.87537, -43.24154), 1]]
565 [[(-22.95077, -43.34814), 131], [(-22.8807, -43.358), 1]]
422 [[(-22.88955, -43.29165), 218]]
756 [[(-22.87659, -43.41991), 20], [(-22.87928, -43.35704), 1]]
186012003 []
292 [[(-22.86867, -43.29274), 100], [(-22.81799, -43.39303), 37], [(-22.81672, -43.30158), 31], [(-22.81458, -43.38233), 6]]
554 [[(-22.95263, -43.34921), 44]]
634 [[(-22.81524, -43.18743), 88]]
232 [[(-22.90244, -43.29907), 1]]
415 [[(-22.92992, -43.2537), 220], [(-22.84267, -43.25432), 1]]
2803 [[(-22.89372, -43.53196), 65]]
324 [[(-22.81515, -43.18877), 113]]
852 [[(-22.89473, -43.5338), 25]]
557 [[(-22.94995, -43.34814), 96], [(-22.95283, -43.34921), 1]]
759 [[(-22.93558, -43.65622), 1]]
343 [[(-22.95138, -43.34891), 78]]
779 [[(-22.81658, -43.39421), 72], [(-22.81454, -43.38231), 15]]
905 [[(-22.81685, -43.30169), 105]]
108 [[(-22.87523, -43.24119), 119]]

186012003 e 138 não existem // 
759, 232, 606, 388, 397 não obtiveram resultados satisfatórios

In [27]:
pontos_garagem = {}

In [28]:
for linha in linhas_de_interesse:
    pontos_de_garagem_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        pontos_garagem[linha] = pontos_de_garagem_linha[0][0]

In [29]:
pontos_garagem['759'] = (-22.93569, -43.65591)
pontos_garagem['388'] = (-22.93543, -43.65633)
pontos_garagem['397'] = (-22.88320, -43.49516)
pontos_garagem['606'] = (-22.90222, -43.29847)

In [32]:
arquivo_garagens = 'pontos_garagem.txt'

In [33]:
with open(arquivo_garagens, 'w') as f:
    json.dump({'dicionario1': pontos_garagem}, f, indent=4)

In [55]:
query_pontofinal = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 600; -- 10 minutes in seconds
"""

In [56]:
df_pf = pd.read_sql(query_pontofinal, conn)
df_pf = df_pf.drop_duplicates(subset=['grp'])

/tmp/ipykernel_4588/2110546385.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pf = pd.read_sql(query_pontofinal, conn)

In [62]:
pontos_de_parada = {}

In [63]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_pf.loc[df_pf['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        if margem_erro(ponto, pontos_garagem[linha], 300):
             continue
        encontrado = False
        if row['total_duration'] > 2400:
            continue
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [64]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

483 [[(-22.83695, -43.28397), 44], [(-22.90331, -43.17292), 5], [(-22.98572, -43.19701), 5], [(-22.83614, -43.28329), 2], [(-22.86682, -43.25402), 2], [(-22.83685, -43.28759), 2], [(-22.87856, -43.24103), 2], [(-22.86617, -43.25209), 1], [(-22.83747, -43.28687), 1]]
864 [[(-22.90285, -43.55566), 7], [(-22.90163, -43.55574), 3], [(-22.8834, -43.4914), 1]]
639 [[(-22.81109, -43.32993), 63], [(-22.88643, -43.29749), 3], [(-22.91696, -43.25807), 2], [(-22.82614, -43.31433), 2], [(-22.83467, -43.33018), 1], [(-22.90281, -43.2701), 1], [(-22.8845, -43.3173), 1], [(-22.8525, -43.34884), 1], [(-22.87038, -43.33817), 1], [(-22.83321, -43.32879), 1], [(-22.83056, -43.32672), 1], [(-22.82783, -43.3187), 1], [(-22.82192, -43.32259), 1], [(-22.92338, -43.23489), 1], [(-22.9192, -43.26167), 1], [(-22.84452, -43.33727), 1], [(-22.87767, -43.32429), 1], [(-22.91858, -43.2506), 1], [(-22.81833, -43.31742), 1], [(-22.75361, -43.29493), 1], [(-22.91439, -43.26361), 1], [(-22.85172, -43.35276), 1], [(-22.88239, -43.32381), 1], [(-22.89542, -43.30079), 1], [(-22.8789, -43.33351), 1], [(-22.87781, -43.32642), 1], [(-22.89519, -43.29434), 1], [(-22.55984, -42.95155), 1], [(-22.81491, -43.30971), 1], [(-22.88233, -43.32676), 1]]
3 [[(-22.86105, -43.45404), 3], [(-22.90092, -43.55167), 1]]
309 [[(-22.90459, -43.19256), 142], [(-23.00197, -43.36538), 20], [(-22.90561, -43.19679), 14], [(-22.99266, -43.24854), 3], [(-22.98391, -43.2385), 3], [(-23.01079, -43.36968), 2], [(-22.91849, -43.17658), 2], [(-22.91196, -43.17429), 2], [(-23.01097, -43.36713), 2], [(-22.9004, -43.17717), 2], [(-23.01064, -43.33107), 2], [(-22.91344, -43.17499), 1], [(-22.94154, -43.1773), 1], [(-23.0018, -43.36708), 1], [(-22.93955, -43.17509), 1], [(-22.91029, -43.17361), 1], [(-22.93079, -43.17418), 1], [(-22.96148, -43.21416), 1], [(-22.96124, -43.21122), 1], [(-22.90885, -43.20396), 1], [(-22.90006, -43.18758), 1], [(-23.00158, -43.36441), 1], [(-22.95908, -43.20089), 1], [(-22.90563, -43.193), 1], [(-22.96026, -43.20443), 1], [(-22.94648, -43.18264), 1]]
774 [[(-22.80744, -43.32766), 42], [(-22.81488, -43.30976), 1], [(-22.828, -43.32254), 1], [(-22.86217, -43.34766), 1], [(-22.87044, -43.34198), 1], [(-22.84365, -43.24864), 1]]
629 [[(-22.82503, -43.33258), 19], [(-22.92302, -43.23276), 4], [(-22.75362, -43.29507), 4], [(-22.75471, -43.29374), 2], [(-22.84395, -43.25449), 2], [(-22.83216, -43.32841), 1], [(-22.84382, -43.24895), 1], [(-22.8654, -43.29609), 1], [(-22.87973, -43.26817), 1], [(-22.90025, -43.24509), 1], [(-22.92069, -43.22754), 1], [(-22.86565, -43.30027), 1], [(-22.82896, -43.31931), 1], [(-22.86929, -43.26816), 1], [(-22.82591, -43.33216), 1], [(-22.83021, -43.31915), 1], [(-22.88052, -43.2589), 1], [(-22.82412, -43.33157), 1], [(-22.82232, -43.32349), 1]]
371 [[(-22.90137, -43.34716), 45], [(-22.90853, -43.18917), 6], [(-22.88599, -43.25172), 1], [(-22.88632, -43.36336), 1], [(-22.90043, -43.34705), 1], [(-22.88504, -43.31245), 1]]
397 [[(-22.90219, -43.55503), 16], [(-22.84462, -43.37608), 1], [(-22.84356, -43.25076), 1], [(-22.82363, -43.33097), 1], [(-22.90117, -43.17991), 1]]
100 [[(-22.90455, -43.19202), 108], [(-22.87486, -43.24226), 31], [(-22.87523, -43.24116), 31], [(-22.95504, -43.17831), 5], [(-22.96391, -43.17844), 3], [(-22.90424, -43.19104), 2], [(-22.90485, -43.1931), 2], [(-22.98506, -43.19864), 2], [(-22.84278, -43.25412), 2], [(-22.98314, -43.19232), 2], [(-22.90208, -43.1791), 2], [(-22.98204, -43.19071), 2], [(-22.90338, -43.17907), 2], [(-22.97422, -43.18913), 2], [(-22.94646, -43.18159), 2], [(-22.87432, -43.23977), 1], [(-22.98472, -43.19632), 1], [(-22.90221, -43.18111), 1], [(-22.90025, -43.18776), 1], [(-22.87431, -43.24146), 1], [(-22.95673, -43.17734), 1], [(-22.84099, -43.25413), 1], [(-22.94362, -43.18052), 1], [(-22.96722, -43.17997), 1], [(-22.97748, -43.19329), 1], [(-22.98072, -43.19175), 1], [(-22.94988, -43.18031), 1], [(-22.95918, -43.17733), 1], [(-22.9786, -43.19105), 1], [(-22.97621, -43.18948), 1], [(-22.97887, -43.18242), 1], [(-22.98083, -43.19022), 1], [(-22.98469, -43.19741), 1], [(-22.96814, -43.18495), 1]]
838 [[(-22.9029, -43.55572), 15], [(-22.90197, -43.55553), 3], [(-22.9017, -43.55457), 1], [(-22.95503, -43.60971), 1]]
315 [[(-23.02203, -43.48246), 30], [(-22.90462, -43.19255), 21], [(-22.81725, -43.3017), 8], [(-23.02043, -43.48282), 5], [(-22.86074, -43.35628), 4], [(-22.9529, -43.34857), 3], [(-22.88461, -43.29074), 1], [(-23.00007, -43.3846), 1], [(-22.87105, -43.25901), 1], [(-22.87281, -43.24463), 1], [(-23.00513, -43.42957), 1], [(-22.88614, -43.29187), 1], [(-22.90939, -43.31538), 1], [(-23.00038, -43.3723), 1], [(-22.87192, -43.24671), 1], [(-22.88814, -43.29414), 1], [(-22.95303, -43.34972), 1]]
624 [[(-22.82872, -43.41937), 206], [(-22.91151, -43.21217), 40], [(-22.8295, -43.41879), 14], [(-22.85409, -43.39025), 1]]
388 [[(-22.90285, -43.18231), 1], [(-22.90076, -43.17704), 1], [(-22.92835, -43.67649), 1], [(-22.93183, -43.65712), 1]]
918 [[(-22.8945, -43.49018), 58], [(-22.89562, -43.4905), 2], [(-22.85042, -43.32591), 1], [(-22.86769, -43.25694), 1]]
665 [[(-22.80609, -43.36326), 133], [(-22.922, -43.23262), 48], [(-22.8178, -43.3931), 38], [(-22.79257, -43.29466), 27], [(-22.80494, -43.36312), 12], [(-22.81601, -43.39479), 6], [(-22.8067, -43.36454), 5], [(-22.82644, -43.33902), 2], [(-22.89068, -43.23471), 2], [(-22.89553, -43.23756), 1], [(-22.81882, -43.35744), 1], [(-22.80595, -43.36225), 1], [(-22.81129, -43.31689), 1], [(-22.81715, -43.30597), 1], [(-22.92239, -43.23142), 1], [(-22.80427, -43.36449), 1], [(-22.81027, -43.36169), 1], [(-22.81439, -43.35926), 1], [(-22.82236, -43.28076), 1], [(-22.81683, -43.39386), 1], [(-22.80482, -43.35023), 1], [(-22.86001, -43.24758), 1], [(-22.84647, -43.24759), 1], [(-22.89856, -43.21932), 1], [(-22.81993, -43.35436), 1], [(-22.84796, -43.24754), 1]]
328 [[(-22.78881, -43.16222), 152], [(-22.90257, -43.18228), 9], [(-22.89988, -43.19025), 4], [(-22.90123, -43.18013), 3], [(-22.78927, -43.1639), 2], [(-22.80562, -43.21222), 1], [(-22.90404, -43.18713), 1], [(-22.8159, -43.19042), 1], [(-22.80623, -43.19928), 1], [(-22.88368, -43.23704), 1], [(-22.84715, -43.24604), 1], [(-22.81135, -43.19343), 1], [(-22.80599, -43.2003), 1], [(-22.78907, -43.16108), 1], [(-22.80458, -43.20299), 1], [(-22.87554, -43.24228), 1]]
497 [[(-22.83643, -43.28357), 62], [(-22.93177, -43.17755), 5], [(-22.86307, -43.25277), 2], [(-22.86869, -43.25454), 1], [(-22.93401, -43.18666), 1], [(-22.8371, -43.28731), 1], [(-22.83751, -43.28612), 1], [(-22.84124, -43.2704), 1]]
878 [[(-22.91579, -43.36082), 24], [(-23.0125, -43.31866), 5], [(-22.98129, -43.32769), 1], [(-22.98848, -43.32446), 1], [(-22.96312, -43.33493), 1], [(-22.97676, -43.33463), 1], [(-22.93866, -43.34689), 1], [(-22.99727, -43.31493), 1], [(-22.93945, -43.34419), 1], [(-22.93918, -43.33686), 1], [(-22.97541, -43.33083), 1], [(-22.98014, -43.32683), 1], [(-23.00812, -43.3034), 1], [(-22.97465, -43.32699), 1], [(-23.01141, -43.31748), 1], [(-22.93349, -43.35256), 1]]
355 [[(-22.86122, -43.3552), 34], [(-22.87, -43.3415), 11], [(-22.90326, -43.18491), 5], [(-22.86036, -43.35602), 5], [(-22.85918, -43.2516), 3], [(-22.90169, -43.18005), 2], [(-22.90727, -43.18278), 2], [(-22.87793, -43.33506), 1], [(-22.87139, -43.34208), 1], [(-22.86933, -43.34244), 1], [(-22.85786, -43.35365), 1], [(-22.82334, -43.34661), 1], [(-22.88918, -43.2197), 1], [(-22.83005, -43.27096), 1], [(-22.87153, -43.34082), 1], [(-22.88761, -43.22406), 1], [(-22.84374, -43.24836), 1], [(-22.75428, -43.29426), 1]]
138 []
606 [[(-22.89576, -43.29409), 19], [(-22.89967, -43.21088), 2], [(-22.90437, -43.28625), 1], [(-22.93199, -43.23959), 1], [(-22.90977, -43.26985), 1], [(-22.91758, -43.30654), 1], [(-22.91056, -43.21443), 1], [(-22.92113, -43.22821), 1], [(-22.91619, -43.21782), 1], [(-22.91335, -43.21589), 1]]
457 [[(-22.88593, -43.30039), 59], [(-22.86866, -43.29137), 20], [(-22.81711, -43.39375), 13], [(-22.92062, -43.19381), 7], [(-22.98641, -43.19086), 5], [(-22.86777, -43.29056), 2], [(-22.91277, -43.23589), 2], [(-22.86867, -43.29265), 1], [(-22.90511, -43.26732), 1], [(-22.87528, -43.28089), 1], [(-22.98531, -43.19118), 1], [(-22.87709, -43.33805), 1], [(-22.9523, -43.1757), 1], [(-22.96033, -43.17587), 1], [(-22.88117, -43.29365), 1], [(-22.88529, -43.27824), 1], [(-22.93016, -43.18634), 1]]
550 [[(-22.94628, -43.36034), 17], [(-22.97909, -43.2227), 3], [(-22.98389, -43.23843), 2], [(-22.95293, -43.34839), 2], [(-22.93526, -43.37209), 1], [(-22.88034, -43.3584), 1], [(-22.95339, -43.35522), 1]]
803 [[(-22.87906, -43.49152), 43], [(-22.93567, -43.37192), 3], [(-22.92068, -43.37312), 1]]
917 [[(-22.87811, -43.43034), 166], [(-22.86893, -43.25594), 38], [(-22.87711, -43.43026), 3], [(-22.87857, -43.42936), 1]]
638 [[(-22.85365, -43.37595), 114], [(-22.92533, -43.23285), 4], [(-22.87177, -43.34533), 1], [(-22.88289, -43.32218), 1], [(-22.86111, -43.36958), 1], [(-22.908, -43.26839), 1], [(-22.87159, -43.34083), 1], [(-22.86881, -43.35032), 1], [(-22.88857, -43.29813), 1]]
2336 [[(-22.90514, -43.1743), 40], [(-22.90167, -43.55798), 13], [(-22.90198, -43.55976), 2], [(-22.90234, -43.56129), 2], [(-22.90786, -43.17271), 2], [(-22.90881, -43.2099), 1], [(-22.86921, -43.55439), 1], [(-22.9141, -43.60185), 1], [(-22.90252, -43.56229), 1], [(-22.89487, -43.21533), 1], [(-22.90696, -43.1734), 1]]
399 [[(-22.80706, -43.36675), 49], [(-22.91596, -43.17658), 20], [(-22.80661, -43.36795), 1], [(-22.81438, -43.38251), 1], [(-22.82622, -43.39214), 1], [(-22.80932, -43.42131), 1]]
298 [[(-22.83049, -43.35351), 185], [(-22.9093, -43.17086), 44], [(-22.80689, -43.36661), 4], [(-22.9087, -43.16965), 2], [(-22.81821, -43.3918), 1], [(-22.9073, -43.17129), 1], [(-22.90569, -43.21425), 1], [(-22.91001, -43.16923), 1], [(-22.74101, -43.45642), 1], [(-22.80644, -43.36786), 1], [(-22.81524, -43.38218), 1]]
867 [[(-22.90305, -43.5556), 34], [(-22.90178, -43.55459), 16], [(-23.06675, -43.56791), 3], [(-22.90123, -43.55367), 1], [(-22.98749, -43.56324), 1]]
553 [[(-23.02068, -43.48294), 66], [(-22.95469, -43.17858), 26], [(-22.98398, -43.23844), 3], [(-22.87437, -43.24153), 2], [(-22.90452, -43.19221), 1], [(-22.90585, -43.19624), 1], [(-22.99879, -43.27065), 1], [(-22.99264, -43.24907), 1]]
565 [[(-22.91591, -43.36121), 41], [(-22.9841, -43.23856), 4], [(-23.00153, -43.36655), 3], [(-22.97896, -43.22214), 3], [(-22.87991, -43.35784), 3], [(-23.0, -43.33871), 1], [(-22.99284, -43.36624), 1]]
422 [[(-22.9114, -43.27244), 75], [(-22.93981, -43.19978), 62], [(-22.93403, -43.18699), 2], [(-22.90477, -43.18959), 1]]
756 [[(-22.91512, -43.68274), 58], [(-22.91414, -43.68102), 17], [(-22.83279, -43.34208), 16], [(-22.83195, -43.34299), 4], [(-22.9044, -43.61584), 1]]
186012003 []
292 [[(-22.86544, -43.29942), 48], [(-22.90915, -43.1715), 31], [(-22.81676, -43.30188), 31], [(-22.81747, -43.39351), 20], [(-22.86541, -43.29821), 3], [(-22.81661, -43.39437), 2], [(-22.88669, -43.23409), 1], [(-22.90043, -43.17764), 1], [(-22.87043, -43.2838), 1], [(-22.74154, -43.45649), 1]]
554 [[(-23.02502, -43.52171), 121], [(-22.95413, -43.17876), 14], [(-23.00191, -43.32835), 1], [(-23.02081, -43.48285), 1], [(-23.0018, -43.36502), 1], [(-22.9788, -43.22848), 1]]
634 [[(-22.78926, -43.16171), 207], [(-22.92684, -43.23404), 11], [(-22.83979, -43.23914), 3], [(-22.90053, -43.20905), 1], [(-22.9045, -43.21032), 1], [(-22.88994, -43.24388), 1], [(-22.86844, -43.25486), 1], [(-22.79828, -43.1853), 1], [(-22.90656, -43.20959), 1], [(-22.79442, -43.17513), 1], [(-22.80584, -43.21217), 1], [(-22.87176, -43.24644), 1], [(-22.83898, -43.24), 1], [(-22.8731, -43.25835), 1], [(-22.81096, -43.18874), 1], [(-22.80454, -43.20691), 1], [(-22.9079, -43.21013), 1]]
232 [[(-22.90066, -43.29017), 35], [(-22.90884, -43.16948), 4], [(-22.90311, -43.29336), 1], [(-22.90304, -43.29087), 1], [(-22.90999, -43.29336), 1], [(-22.91876, -43.25176), 1], [(-22.90859, -43.17043), 1], [(-22.90145, -43.18069), 1], [(-22.91359, -43.26416), 1], [(-22.91143, -43.28553), 1], [(-22.91481, -43.22948), 1]]
415 [[(-22.94634, -43.25656), 544], [(-22.98563, -43.22327), 55], [(-22.98455, -43.22362), 2], [(-22.97236, -43.19164), 2], [(-22.90573, -43.19246), 1], [(-22.90074, -43.17847), 1], [(-22.91753, -43.21107), 1], [(-22.97043, -43.18651), 1], [(-22.93686, -43.24532), 1], [(-22.941, -43.25138), 1], [(-22.94102, -43.25361), 1], [(-22.98439, -43.20486), 1], [(-22.97988, -43.19151), 1], [(-22.91649, -43.20953), 1], [(-22.9627, -43.17492), 1]]
2803 [[(-22.85626, -43.49306), 20], [(-23.00764, -43.30397), 17], [(-22.85641, -43.49405), 3]]
324 [[(-22.82562, -43.16931), 383], [(-22.9024, -43.18169), 41], [(-22.9028, -43.18309), 10], [(-22.81152, -43.21729), 2], [(-22.89029, -43.21882), 1], [(-22.90081, -43.17955), 1], [(-22.82113, -43.22807), 1], [(-22.81479, -43.22127), 1], [(-22.84965, -43.24751), 1], [(-22.90413, -43.18761), 1], [(-22.90455, -43.1889), 1], [(-22.84703, -43.24538), 1], [(-22.88154, -43.23817), 1], [(-22.91004, -43.20536), 1], [(-22.81892, -43.22585), 1]]
852 [[(-22.90144, -43.55466), 13], [(-22.90303, -43.55583), 2]]
557 [[(-22.96734, -43.33604), 68], [(-22.95299, -43.34845), 5], [(-22.96677, -43.18679), 4], [(-22.99351, -43.25388), 3], [(-22.99482, -43.31102), 2], [(-22.96948, -43.33625), 2], [(-22.96825, -43.33612), 1], [(-22.99615, -43.25596), 1], [(-22.9757, -43.33514), 1], [(-23.00789, -43.28829), 1]]
759 [[(-22.93244, -43.65482), 1], [(-22.91256, -43.68666), 1], [(-22.83258, -43.34248), 1], [(-22.85314, -43.39381), 1], [(-22.83435, -43.34121), 1]]
343 [[(-23.00542, -43.31261), 83], [(-22.90924, -43.31542), 3], [(-22.90222, -43.18171), 2], [(-22.97642, -43.32557), 1], [(-22.9073, -43.30695), 1], [(-22.97405, -43.33587), 1], [(-22.87194, -43.25569), 1], [(-22.90673, -43.31198), 1], [(-22.8803, -43.23913), 1], [(-22.87783, -43.2415), 1]]
779 [[(-22.80609, -43.36758), 19], [(-22.87706, -43.33805), 5], [(-22.80659, -43.36637), 2], [(-22.8212, -43.39742), 1], [(-22.81808, -43.39016), 1]]
905 [[(-22.82533, -43.33213), 23], [(-22.83832, -43.27514), 2], [(-22.82796, -43.32038), 1], [(-22.82729, -43.31039), 1], [(-22.86638, -43.24965), 1], [(-22.85577, -43.25224), 1], [(-22.82204, -43.2976), 1]]
108 [[(-22.8994, -43.21169), 183], [(-22.98161, -43.21335), 18], [(-22.92094, -43.19354), 4], [(-22.97277, -43.18825), 3], [(-22.98562, -43.19969), 2], [(-22.92995, -43.18645), 1], [(-22.96935, -43.18664), 1], [(-22.88061, -43.2389), 1], [(-22.97822, -43.19073), 1], [(-22.91717, -43.19403), 1], [(-22.90679, -43.19744), 1], [(-22.89824, -43.21119), 1], [(-22.89999, -43.2109), 1]]

In [ ]:
for linha in linhas_de_interesse:
    pontos_de_parada_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        if (pontos_de_parada_linha[1][1] - pontos_de_parada_linha[2][1]) < 0.2*pontos_de_parada_linha[2][1]:
            d2 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]).meters
            d3 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]).meters
            if d2 > d3:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]
            else:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]]
        else:
            pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]

## Criando Grids

In [40]:
teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

/tmp/ipykernel_14735/1545976685.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

In [48]:
teste['geometry'] = teste['geom'].apply(wkb.loads)

In [49]:
gdf = gpd.GeoDataFrame(teste, geometry='geometry')

In [50]:
gdf.set_crs(epsg=4326, inplace=True)

,id,ordem,latitude,longitude,datahora,velocidade,linha,datahoraenvio,datahoraservidor,geom,dia_da_semana,geometry
0,134799,C41373,-22.87139,-43.26380,1714043686000,59,315,1714043696000,1714043701000,0101000020E6100000A857CA32C4A145C0BB0F406A13DF...,Thursday,POINT (-43.26380 -22.87139)
1,382095,A41322,-22.87830,-43.27721,1714045323000,5,315,1714045332000,1714045335000,0101000020E6100000E40F069E7BA345C0A913D044D8E0...,Thursday,POINT (-43.27721 -22.87830)
2,415238,C41081,-23.02712,-43.48100,1714045553000,14,315,1714045557000,1714045582000,0101000020E610000021B0726891BD45C049111956F106...,Thursday,POINT (-43.48100 -23.02712)
3,515920,C41395,-22.90483,-43.19300,1714046222000,0,315,1714046225000,1714046230000,0101000020E610000062105839B49845C08F705AF0A2E7...,Thursday,POINT (-43.19300 -22.90483)
4,710732,C41373,-23.00240,-43.42346,1714075306000,25,315,1714075308000,1714075337000,0101000020E61000000395F1EF33B645C0AA8251499D00...,Thursday,POINT (-43.42346 -23.00240)
...,...,...,...,...,...,...,...,...,...,...,...,...
594144,8630235,C41081,-22.87218,-43.25140,1715368048000,35,315,1715368056000,1715368079000,0101000020E6100000711B0DE02DA045C0AC39403047DF...,Friday,POINT (-43.25140 -22.87218)
594145,8451581,C41382,-22.90488,-43.19200,1715352387000,1,315,1715352392000,1715352407000,0101000020E61000007F6ABC74939845C0F2CD3637A6E7...,Friday,POINT (-43.19200 -22.90488)
594146,8833538,C41081,-22.96363,-43.35730,1715369403000,9,315,1715369412000,1715369432000,0101000020E61000002F6EA301BCAD45C0C971A774B0F6...,Friday,POINT (-43.35730 -22.96363)
594147,9010013,C41366,-22.90621,-43.20938,1715370625000,0,315,1715370635000,1715370662000,0101000020E6100000DF37BEF6CC9A45C0E44EE960FDE7...,Friday,POINT (-43.20938 -22.90621)
594148,10033756,C41247,-23.02572,-43.48131,1715348667000,0,315,1715348673000,1715348689000,0101000020E61000006F9EEA909BBD45C066DAFE959506...,Friday,POINT (-43.48131 -23.02572)

In [42]:
teste.columns

Index(['id', 'ordem', 'latitude', 'longitude', 'datahora', 'velocidade',
       'linha', 'datahoraenvio', 'datahoraservidor', 'geom', 'dia_da_semana'],
      dtype='object')

In [91]:
def criar_grid(min_lat, min_lon, max_lat, max_lon, cell_size=50, crs="EPSG:4326"):
# Aproximação para conversão de metros para graus
    lat_mid = (min_lat + max_lat) / 2
    deg_per_meter_lat = 1 / 111320  # Aproximadamente 111.32 km por grau de latitude
    deg_per_meter_lon = 1 / (111320 * np.cos(np.deg2rad(lat_mid)))  # Varia com a latitude

    cell_size_deg_lat = cell_size * deg_per_meter_lat
    cell_size_deg_lon = cell_size * deg_per_meter_lon

    # criar as células em um loop
    grid_cells = []
    for x0 in np.arange(min_lon, max_lon, cell_size_deg_lon):
        for y0 in np.arange(min_lat, max_lat, cell_size_deg_lat):
            x1 = x0 + cell_size_deg_lon
            y1 = y0 + cell_size_deg_lat
            poly = shapely.geometry.box(x0, y0, x1, y1)
            grid_cells.append(poly)

    cells = gpd.GeoDataFrame(grid_cells, columns=['geometry'], crs=crs)
    
    return cells

In [92]:
min_lat, min_lon = -23.082, -43.795
max_lat, max_lon = -22.735, -43.099
cell_size = 50

In [93]:
grid_rio = criar_grid(min_lat, min_lon, max_lat, max_lon, cell_size)

In [77]:
grid_rio.to_file("grid_rio.geojson", driver="GeoJSON")

In [96]:
def join_com_grid(gdf, grid):
    # Realizar o join espacial
    gdf_joined = gpd.sjoin(gdf, grid, how='inner').drop_duplicates('geometry')
    
    # Manter apenas as colunas grid_id e geometry
    gdf_joined = gdf_joined[['geometry']]
    
    # Redefinir o índice para garantir que seja único
    gdf_joined.reset_index(drop=True, inplace=True)
    
    return gdf_joined

In [100]:
grid_315 = join_com_grid(gdf, grid_rio)
grid_315 = grid_315.reset_index(names='grid_id')

In [101]:
grid_315.head(10)

   grid_id                     geometry
0        0  POINT (-43.26380 -22.87139)
1        1  POINT (-43.26372 -22.87177)
2        2  POINT (-43.26385 -22.87177)
3        3  POINT (-43.26358 -22.87178)
4        4  POINT (-43.26377 -22.87139)
5        5  POINT (-43.26394 -22.87179)
6        6  POINT (-43.26370 -22.87174)
7        7  POINT (-43.26364 -22.87139)
8        8  POINT (-43.26394 -22.87141)
9        9  POINT (-43.26350 -22.87138)

In [105]:
def calcular_estatisticas(pontos_gdf, grid_gdf):
    pontos_na_grid = gpd.sjoin(pontos_gdf, grid_gdf, how='inner', op='within')
    contagem_pontos = pontos_na_grid.groupby('grid_id').size().reset_index(name='contagem_pontos')
    centroide_pontos = pontos_na_grid.groupby('grid_id').apply(lambda x: x.geometry.unary_union.centroid).reset_index(name='centroide_pontos')
    pontos_na_grid['hora'] = pd.to_datetime(pontos_na_grid['datahoraservidor'], unit='ms').dt.hour
    media_hora_pontos = pontos_na_grid.groupby('grid_id')['hora'].mean().reset_index(name='media_hora')
    estatisticas_grid = grid_gdf.merge(contagem_pontos, on='grid_id', how='left').merge(media_hora_pontos, on='grid_id', how='left').merge(centroide_pontos, on='grid_id', how='left')
    return estatisticas_grid

In [106]:
estatisticas_grid = calcular_estatisticas(gdf, grid_315)

/home/savio/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3553: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)