In [1]:
import psycopg2
from config import load_config
import pandas as pd
import folium
import os
from sklearn.cluster import DBSCAN
from geopy.distance import geodesic, distance
import numpy as np
import json
from sqlalchemy import create_engine
import geopandas as gpd
from shapely.geometry import Polygon, Point
from shapely import wkb
import numpy as np
import shapely

In [2]:
def capturar_data_mapa(conn, table_name, linha):
    cur = conn.cursor()
    all_data = [] 
    try:
        fetch_query = f'''
        SELECT latitude::double precision, longitude::double precision
        FROM {table_name}
        WHERE linha='{linha}'
        '''
        cur.execute(fetch_query)
        rows = cur.fetchall()
        all_data.extend(rows)
    except Exception as e:
            print(f"Erro ao executar a query na tabela {table_name}: {e}")
            conn.rollback()
    else:
         conn.commit()
    cur.close()
    return all_data

In [3]:
def limpar_dados_tabela(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna hour, se não existir
        cur.execute(f"ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS hour INTEGER;")
        
        # Atualizar a coluna hour com base no datahora
        cur.execute(f"UPDATE {table_name} SET hour = EXTRACT(HOUR FROM TO_TIMESTAMP(datahora / 1000));")
        
        # Criar uma nova tabela filtrada
        cur.execute(f"""
            CREATE TABLE {table_name}_filter AS
            SELECT *
            FROM {table_name}
            WHERE hour BETWEEN 8 AND 22;
        """)
        
        # Remover a coluna hour das tabelas
        cur.execute(f"ALTER TABLE {table_name} DROP COLUMN hour;")
        cur.execute(f"ALTER TABLE {table_name}_filter DROP COLUMN hour;")
        
        # Commit das alterações
        conn.commit()
        print(f"Alterações na tabela {table_name} foram comitadas com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao limpar dados da tabela {table_name}: {e}")
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}.")

In [4]:
def adicionar_geom(table_name, conn):
    cur = conn.cursor()
    try:
        # Adicionar a coluna geom se não existir
        cur.execute(f"""
            ALTER TABLE {table_name} ADD COLUMN IF NOT EXISTS geom geography(Point, 4326);
        """)
        
        # Atualizar a coluna geom com os valores de longitude e latitude
        cur.execute(f"""
            UPDATE {table_name}
            SET geom = ST_SetSRID(ST_MakePoint(longitude::double precision, latitude::double precision), 4326);
        """)
        
        # Commit das alterações
        conn.commit()
        print(f"Coluna geom criada e preenchida na tabela {table_name}_filter com sucesso.")
    except Exception as e:
        # Rollback em caso de erro
        conn.rollback()
        print(f"Erro ao atualizar a tabela {table_name}_filter: {e}")
    finally:
        # Fechar o cursor
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [5]:
def filtra_linhas(table_name, linhas_de_interesse, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    linhas_str = ', '.join([f"'{linha}'" for linha in linhas_de_interesse])
    try:
        # Criar tabela intermediária filtrada
        cur.execute(f"""
            CREATE TABLE {temp_table_name} AS
            SELECT *
            FROM {table_name}_filter
            WHERE linha IN ({linhas_str});
        """)
        print(f"Tabela intermediária {temp_table_name} criada com sucesso.")
        conn.commit()
        print(f"Alterações na tabela {temp_table_name} foram comitadas com sucesso.")
    except Exception as e:
        print(f"Erro ao criar a tabela intermediária {temp_table_name}: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {temp_table_name}.")

In [6]:
def sobrescreve_tabelas(table_name, conn):
    cur = conn.cursor()
    temp_table_name = table_name + '_intermediate'
    try:
        # Verificar se a tabela temporária existe
        cur.execute(f"""
            SELECT EXISTS (
                SELECT FROM pg_tables
                WHERE schemaname = 'public' AND tablename = '{temp_table_name}'
            );
        """)
        exists = cur.fetchone()[0]

        if exists:
            # Excluir a tabela original
            cur.execute(f"DROP TABLE IF EXISTS {table_name}_filter;")
            # Renomear a tabela temporária para o nome original
            cur.execute(f"ALTER TABLE {temp_table_name} RENAME TO {table_name}_filter;")
            print(f"Tabela {table_name}_filter sobrescrita com sucesso.")
            conn.commit()
            print(f"Tabela {table_name}_filter comitada com sucesso.")
        else:
            print(f"Tabela temporária {temp_table_name} não encontrada.")
            conn.rollback()
    except Exception as e:
        print(f"Erro ao sobrescrever a tabela {table_name}_filter: {e}")
        conn.rollback()
    finally:
        cur.close()
        print(f"Cursor fechado para a tabela {table_name}_filter.")

In [7]:
def margem_erro(coord1, coord2, radius=100):
    return geodesic(coord1, coord2).meters <= radius

In [8]:
def criar_tabela_destino(conn):
    cur = conn.cursor()
    try:
        cur.execute("""
            CREATE TABLE IF NOT EXISTS combined_table_all AS
            SELECT * FROM dia_0105 WHERE 1=0;
        """)
        conn.commit()
        print("Tabela de destino 'combined_table_all' criada com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao criar a tabela de destino: {e}")
    finally:
        cur.close()

In [9]:
def inserir_dados(table_name, conn):
    cur = conn.cursor()
    try:
        cur.execute(f"INSERT INTO combined_table_all SELECT * FROM {table_name};")
        conn.commit()
        print(f"Dados inseridos na tabela 'combined_table' a partir de '{table_name}' com sucesso.")
    except Exception as e:
        conn.rollback()
        print(f"Erro ao inserir dados da tabela {table_name}: {e}")
    finally:
        cur.close()

In [10]:
def connect(config):
    """ Connect to the PostgreSQL database server """
    try:
        # connecting to the PostgreSQL server
        with psycopg2.connect(**config) as conn:
            print('Connected to the PostgreSQL server.')
            return conn
    except (psycopg2.DatabaseError, Exception) as error:
        print(error)

In [11]:
config = load_config()
conn = connect(config)

Connected to the PostgreSQL server.

In [19]:
linhas_de_interesse = ['483', '864', '639', '3', '309', '774', '629', '371', '397', '100', '838', '315', '624', '388', '918', '665', '328', '497', '878', '355', '138', '606', '457', '550', '803', '917', '638', '2336', '399', '298', '867', '553', '565', '422', '756', '186012003', '292', '554', '634', '232', '415', '2803', '324', '852', '557', '759', '343', '779', '905', '108']

In [12]:
table_names = ['dia_0105', 'dia_0205', 'dia_0305', 'dia_0405', 'dia_0505', 'dia_0605', 'dia_0705', 'dia_0805', 'dia_0905', 'dia_1005', 'dia_2504', 'dia_2604', 'dia_2704', 'dia_2804', 'dia_2904', 'dia_3004']

In [157]:
"""for table in table_names:
    limpar_dados_tabela(table, conn)"""

'for table in table_names:\n    limpar_dados_tabela(table, conn)'

In [ ]:
"""for table in table_names:
    adicionar_geom(table, conn)"""

In [ ]:
"""for table in table_names:
    filtra_linhas(table, linhas_de_interesse, conn)
    sobrescreve_tabelas(table, conn)"""

In [136]:
"""for linha in linhas_de_interesse:
    data = capturar_data_mapa(conn, 'dia_2704_filter', linha)
    if data:
        avg_latitude = sum([d[0] for d in data]) / len(data)
        avg_longitude = sum([d[1] for d in data]) / len(data)
        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)
        # Adicione os pontos ao mapa
        for lat, lon in data:
            folium.CircleMarker(location=[lat, lon], radius=1, color='blue').add_to(m)
        output_path = os.path.join(f'trajetos/output_map_{linha}.html')
        m.save(output_path)
        print(f"Mapa salvo em {output_path}")"""

'for linha in linhas_de_interesse:\n    data = capturar_data_mapa(conn, \'dia_2704_filter\', linha)\n    if data:\n        avg_latitude = sum([d[0] for d in data]) / len(data)\n        avg_longitude = sum([d[1] for d in data]) / len(data)\n        m = folium.Map(location=[avg_latitude, avg_longitude], zoom_start=12)\n        # Adicione os pontos ao mapa\n        for lat, lon in data:\n            folium.CircleMarker(location=[lat, lon], radius=1, color=\'blue\').add_to(m)\n        output_path = os.path.join(f\'trajetos/output_map_{linha}.html\')\n        m.save(output_path)\n        print(f"Mapa salvo em {output_path}")'

In [ ]:
"""criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)"""

In [30]:
query = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 600; -- 10 minutes in seconds
"""

In [31]:
df = pd.read_sql(query, conn)

/tmp/ipykernel_7403/1168034203.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

In [32]:
df_unique = df.drop_duplicates(subset=['grp'])

In [35]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_unique.loc[df_unique['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        if margem_erro(ponto, pontos_garagem[linha]):
             continue
        encontrado = False
        if row['total_duration'] > 2400:
            continue
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

397
388
759
138 
tiveram resultados inconclusivos, adicionarei manualmente os pontos finais.

In [38]:
for linha in linhas_de_interesse:
    pontos_de_parada_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        if (pontos_de_parada_linha[1][1] - pontos_de_parada_linha[2][1]) < 0.2*pontos_de_parada_linha[2][1]:
            d2 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]).meters
            d3 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]).meters
            if d2 > d3:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]
            else:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]]
        else:
            pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]

In [40]:
pontos_finais['397'] = [(-22.90202, -43.55532), (-22.90121, -43.17778)]
pontos_finais['388'] = [(-22.93554, -43.65626), (-22.90121, -43.17778)]
pontos_finais['759'] = [(-22.93554, -43.65626), (-22.83152, -43.34393)]

In [ ]:
criar_tabela_destino(conn)
for table in table_names:
    inserir_dados(table, conn)

In [140]:
query_garagem = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table_all
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
WHERE EXTRACT(HOUR FROM datahora_ts) >= 22 OR EXTRACT(HOUR FROM datahora_ts) < 5
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 10 minutes in seconds
"""

In [141]:
df_garagem = pd.read_sql(query_garagem, conn)

/tmp/ipykernel_7675/3362709450.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_garagem = pd.read_sql(query_garagem, conn)

In [142]:
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [12]:
pontos_de_parada = {}

In [144]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

759, 388 não apresentaram resultados conclusivos

In [146]:
pontos_garagem = {}

In [147]:
for linha in linhas_de_interesse:
    pontos_de_garagem_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        pontos_garagem[linha] = pontos_de_garagem_linha[0][0]

In [ ]:
for linha in pontos_garagem.keys():
    print(f"{linha} {pontos_garagem[linha]}")

In [ ]:
df_garagem = pd.read_sql(query_garagem, conn)
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [28]:
pontos_de_parada = {}

In [154]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

In [157]:
pontos_garagem['759'] = (-22.93569, -43.65591)
pontos_garagem['388'] = (-22.93543, -43.65633)

In [41]:
arquivo = 'dicionarios.txt'

In [42]:
with open(arquivo, 'w') as f:
    json.dump({'dicionario1': pontos_finais, 'dicionario2': pontos_garagem}, f, indent=4)

In [33]:
with open(arquivo, 'r') as f:
    dados = json.load(f)

In [34]:
pontos_finais = dados['dicionario1']
pontos_garagem = dados['dicionario2']

## Criando tabelas para os dias de semana e fins de semana

In [2]:
dias_da_semana = ['dia_2504_filter', 'dia_2604_filter', 'dia_2904_filter', 'dia_3004_filter', 'dia_0105_filter', 'dia_0205_filter', 'dia_0305_filter', 'dia_0605_filter', 'dia_0705_filter', 'dia_0805_filter', 'dia_0905_filter', 'dia_1005_filter']

In [3]:
fins_de_semana = ['dia_2704_filter', 'dia_2804_filter', 'dia_0405_filter', 'dia_0505_filter']

In [ ]:
def obter_dia_da_semana(nome_tabela):
    data_str = nome_tabela.split('_')[1]
    data = pd.to_datetime(f"2024-{data_str[2:]}-{data_str[:2]}")
    return data.day_name()
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')
for tabela in dias_da_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('dias_uteis_combinado', engine, if_exists='append', index=False)

In [ ]:
for tabela in fins_de_semana:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df['dia_da_semana'] = obter_dia_da_semana(tabela)
    df.to_sql('fds_combinado', engine, if_exists='append', index=False)

Adicionando uma tabela composta apenas pela madrugada dos fins de semana, onde a chance dos ônibus estarem na garagem é altíssima

## Garagens e pontos finais

In [13]:
criar_tabela_destino(conn)

Tabela de destino 'combined_table_all' criada com sucesso.

In [14]:
engine = create_engine('postgresql+psycopg2://savio:190876@localhost:5432/t3')
for tabela in table_names:
    df = pd.read_sql(f"SELECT * FROM {tabela}", conn)
    df.to_sql('combined_table_all', engine, if_exists='append', index=False)

/tmp/ipykernel_4588/589359576.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"SELECT * FROM {tabela}", conn)

In [24]:
query_garagem_madrugada = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table_all
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
WHERE EXTRACT(HOUR FROM datahora_ts) >= 22 OR EXTRACT(HOUR FROM datahora_ts) < 5
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 10800; -- 3 horas
"""

In [16]:
df_garagem = pd.read_sql(query_garagem_madrugada, conn)

/tmp/ipykernel_4588/3718869355.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_garagem = pd.read_sql(query_garagem_madrugada, conn)

In [17]:
df_garagem = df_garagem.drop_duplicates(subset=['grp'])

In [22]:
pontos_de_parada = {}

In [23]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_garagem.loc[df_garagem['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        encontrado = False
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto, radius=300):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [25]:
for linha in pontos_de_parada.keys():
    print(f"{linha} {pontos_de_parada[linha]}")

483 [[(-22.80418, -43.31023), 103]]
864 [[(-22.89368, -43.53259), 110], [(-22.84149, -43.25392), 2]]
639 [[(-22.81763, -43.30176), 256]]
3 [[(-22.88342, -43.49536), 222], [(-22.93548, -43.6565), 1]]
309 [[(-22.87509, -43.24074), 334]]
774 [[(-22.81756, -43.3016), 103], [(-22.84353, -43.24857), 1]]
629 [[(-22.81775, -43.30167), 212], [(-22.84388, -43.24839), 1], [(-22.75517, -43.2938), 1]]
371 [[(-22.87744, -43.36824), 24]]
397 []
100 [[(-22.88907, -43.29319), 231], [(-22.8745, -43.24212), 68], [(-22.84134, -43.25389), 4]]
838 [[(-22.89399, -43.5327), 47]]
315 [[(-22.87549, -43.24131), 109], [(-22.95217, -43.34944), 23], [(-22.81696, -43.30177), 8], [(-22.86062, -43.35616), 2]]
624 [[(-22.87622, -43.36805), 21]]
388 [[(-22.90154, -43.18066), 1], [(-22.93159, -43.6558), 1]]
918 [[(-22.89523, -43.53366), 52], [(-22.84269, -43.25409), 1]]
665 [[(-22.85928, -43.37079), 74], [(-22.81706, -43.39373), 45], [(-22.79242, -43.29449), 41], [(-22.81425, -43.38256), 8], [(-22.80611, -43.3633), 1], [(-22.84344, -43.24859), 1]]
328 [[(-22.81515, -43.18753), 112]]
497 [[(-22.80449, -43.30967), 60]]
878 [[(-22.88064, -43.35695), 74], [(-22.87594, -43.41995), 1]]
355 [[(-22.81683, -43.3015), 62], [(-22.86056, -43.35523), 29], [(-22.84366, -43.24862), 1]]
138 []
606 [[(-22.90259, -43.29907), 3]]
457 [[(-22.88888, -43.29289), 123], [(-22.86871, -43.29263), 36], [(-22.81585, -43.39481), 17]]
550 [[(-22.94975, -43.3482), 223], [(-22.95247, -43.34809), 1]]
803 [[(-22.87612, -43.41912), 34], [(-22.88062, -43.35717), 4], [(-22.93558, -43.37196), 1]]
917 [[(-22.87654, -43.36839), 27]]
638 [[(-22.86042, -43.356), 145]]
2336 [[(-22.91719, -43.6077), 61], [(-22.90241, -43.56149), 1], [(-22.89179, -43.21609), 1]]
399 [[(-22.81743, -43.39355), 79], [(-22.81438, -43.38252), 17]]
298 [[(-22.8162, -43.39447), 109], [(-22.81503, -43.38207), 2], [(-22.90555, -43.1735), 1]]
867 [[(-22.89435, -43.53227), 25]]
553 [[(-22.95321, -43.34991), 63], [(-22.87537, -43.24154), 1]]
565 [[(-22.95077, -43.34814), 131], [(-22.8807, -43.358), 1]]
422 [[(-22.88955, -43.29165), 218]]
756 [[(-22.87659, -43.41991), 20], [(-22.87928, -43.35704), 1]]
186012003 []
292 [[(-22.86867, -43.29274), 100], [(-22.81799, -43.39303), 37], [(-22.81672, -43.30158), 31], [(-22.81458, -43.38233), 6]]
554 [[(-22.95263, -43.34921), 44]]
634 [[(-22.81524, -43.18743), 88]]
232 [[(-22.90244, -43.29907), 1]]
415 [[(-22.92992, -43.2537), 220], [(-22.84267, -43.25432), 1]]
2803 [[(-22.89372, -43.53196), 65]]
324 [[(-22.81515, -43.18877), 113]]
852 [[(-22.89473, -43.5338), 25]]
557 [[(-22.94995, -43.34814), 96], [(-22.95283, -43.34921), 1]]
759 [[(-22.93558, -43.65622), 1]]
343 [[(-22.95138, -43.34891), 78]]
779 [[(-22.81658, -43.39421), 72], [(-22.81454, -43.38231), 15]]
905 [[(-22.81685, -43.30169), 105]]
108 [[(-22.87523, -43.24119), 119]]

186012003 e 138 não existem // 
759, 232, 606, 388, 397 não obtiveram resultados satisfatórios

In [27]:
pontos_garagem = {}

In [28]:
for linha in linhas_de_interesse:
    pontos_de_garagem_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        pontos_garagem[linha] = pontos_de_garagem_linha[0][0]

In [29]:
pontos_garagem['759'] = (-22.93569, -43.65591)
pontos_garagem['388'] = (-22.93543, -43.65633)
pontos_garagem['397'] = (-22.88320, -43.49516)
pontos_garagem['606'] = (-22.90222, -43.29847)

In [32]:
arquivo_garagens = 'pontos_garagem.txt'

In [33]:
with open(arquivo_garagens, 'w') as f:
    json.dump({'dicionario1': pontos_garagem}, f, indent=4)

In [35]:
query_pontofinal = """
WITH ordered_points AS (
    SELECT
        ordem,
        linha,
        geom,
        TO_TIMESTAMP(datahora / 1000) AS datahora_ts,
        LAG(TO_TIMESTAMP(datahora / 1000)) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_datahora_ts,
        LAG(geom) OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS prev_geom,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY TO_TIMESTAMP(datahora / 1000)) AS rn
    FROM combined_table
),
same_position_periods AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        EXTRACT(EPOCH FROM (datahora_ts - prev_datahora_ts)) AS duration,
        CASE 
            WHEN ST_DWithin(geom, prev_geom, 15) THEN 1
            ELSE 0
        END AS is_stationary,
        ROW_NUMBER() OVER (PARTITION BY ordem ORDER BY datahora_ts) - 
        ROW_NUMBER() OVER (PARTITION BY ordem, CASE WHEN ST_DWithin(geom, prev_geom, 15) THEN 1 ELSE 0 END ORDER BY datahora_ts) AS grp
    FROM ordered_points
),
stationary_groups AS (
    SELECT
        ordem,
        linha,
        geom,
        datahora_ts,
        prev_datahora_ts,
        duration,
        is_stationary,
        grp
    FROM same_position_periods
    WHERE is_stationary = 1
)
SELECT
    ordem,
    linha,
    MIN(prev_datahora_ts) AS start_time,
    MAX(datahora_ts) AS end_time,
    SUM(duration) AS total_duration,
    ST_X(geom::geometry) AS longitude,
    ST_Y(geom::geometry) AS latitude,
    grp
FROM stationary_groups
GROUP BY ordem, linha, grp, geom
HAVING SUM(duration) >= 600; -- 10 minutes in seconds
"""

In [36]:
df_pf = pd.read_sql(query_pontofinal, conn)
df_pf = df_pf.drop_duplicates(subset=['grp'])

/tmp/ipykernel_4588/2110546385.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_pf = pd.read_sql(query_pontofinal, conn)

In [ ]:
for linha in linhas_de_interesse:
    pontos_de_parada[linha]=[]
    for _, row in df_unique.loc[df_unique['linha'] == linha].iterrows():
        lat, lon = row['latitude'], row['longitude']
        ponto = (lat, lon)
        if margem_erro(ponto, pontos_garagem[linha]):
             continue
        encontrado = False
        if row['total_duration'] > 2400:
            continue
        for pontos in pontos_de_parada[linha]:
            if margem_erro(pontos[0], ponto):
                encontrado = True
                pontos[1] += 1
                break
        if not encontrado:
            pontos_de_parada[linha].append([ponto, 1])
for linha in pontos_de_parada.keys():
        pontos_de_parada[linha] = sorted(pontos_de_parada[linha], key=lambda x: x[1], reverse=True)

In [ ]:
for linha in linhas_de_interesse:
    pontos_de_parada_linha = pontos_de_parada[linha]
    if len(pontos_de_parada[linha]) > 0:
        if (pontos_de_parada_linha[1][1] - pontos_de_parada_linha[2][1]) < 0.2*pontos_de_parada_linha[2][1]:
            d2 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]).meters
            d3 = geodesic(pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]).meters
            if d2 > d3:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]
            else:
                pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[2][0]]
        else:
            pontos_finais[linha] = [pontos_de_parada_linha[0][0], pontos_de_parada_linha[1][0]]

## Criando Grids

In [40]:
teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

/tmp/ipykernel_14735/1545976685.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  teste = pd.read_sql(f"SELECT * FROM dias_uteis_combinado WHERE linha = '315'", conn)

In [48]:
teste['geometry'] = teste['geom'].apply(wkb.loads)

In [49]:
gdf = gpd.GeoDataFrame(teste, geometry='geometry')

In [50]:
gdf.set_crs(epsg=4326, inplace=True)

,id,ordem,latitude,longitude,datahora,velocidade,linha,datahoraenvio,datahoraservidor,geom,dia_da_semana,geometry
0,134799,C41373,-22.87139,-43.26380,1714043686000,59,315,1714043696000,1714043701000,0101000020E6100000A857CA32C4A145C0BB0F406A13DF...,Thursday,POINT (-43.26380 -22.87139)
1,382095,A41322,-22.87830,-43.27721,1714045323000,5,315,1714045332000,1714045335000,0101000020E6100000E40F069E7BA345C0A913D044D8E0...,Thursday,POINT (-43.27721 -22.87830)
2,415238,C41081,-23.02712,-43.48100,1714045553000,14,315,1714045557000,1714045582000,0101000020E610000021B0726891BD45C049111956F106...,Thursday,POINT (-43.48100 -23.02712)
3,515920,C41395,-22.90483,-43.19300,1714046222000,0,315,1714046225000,1714046230000,0101000020E610000062105839B49845C08F705AF0A2E7...,Thursday,POINT (-43.19300 -22.90483)
4,710732,C41373,-23.00240,-43.42346,1714075306000,25,315,1714075308000,1714075337000,0101000020E61000000395F1EF33B645C0AA8251499D00...,Thursday,POINT (-43.42346 -23.00240)
...,...,...,...,...,...,...,...,...,...,...,...,...
594144,8630235,C41081,-22.87218,-43.25140,1715368048000,35,315,1715368056000,1715368079000,0101000020E6100000711B0DE02DA045C0AC39403047DF...,Friday,POINT (-43.25140 -22.87218)
594145,8451581,C41382,-22.90488,-43.19200,1715352387000,1,315,1715352392000,1715352407000,0101000020E61000007F6ABC74939845C0F2CD3637A6E7...,Friday,POINT (-43.19200 -22.90488)
594146,8833538,C41081,-22.96363,-43.35730,1715369403000,9,315,1715369412000,1715369432000,0101000020E61000002F6EA301BCAD45C0C971A774B0F6...,Friday,POINT (-43.35730 -22.96363)
594147,9010013,C41366,-22.90621,-43.20938,1715370625000,0,315,1715370635000,1715370662000,0101000020E6100000DF37BEF6CC9A45C0E44EE960FDE7...,Friday,POINT (-43.20938 -22.90621)
594148,10033756,C41247,-23.02572,-43.48131,1715348667000,0,315,1715348673000,1715348689000,0101000020E61000006F9EEA909BBD45C066DAFE959506...,Friday,POINT (-43.48131 -23.02572)

In [42]:
teste.columns

Index(['id', 'ordem', 'latitude', 'longitude', 'datahora', 'velocidade',
       'linha', 'datahoraenvio', 'datahoraservidor', 'geom', 'dia_da_semana'],
      dtype='object')

In [91]:
def criar_grid(min_lat, min_lon, max_lat, max_lon, cell_size=50, crs="EPSG:4326"):
# Aproximação para conversão de metros para graus
    lat_mid = (min_lat + max_lat) / 2
    deg_per_meter_lat = 1 / 111320  # Aproximadamente 111.32 km por grau de latitude
    deg_per_meter_lon = 1 / (111320 * np.cos(np.deg2rad(lat_mid)))  # Varia com a latitude

    cell_size_deg_lat = cell_size * deg_per_meter_lat
    cell_size_deg_lon = cell_size * deg_per_meter_lon

    # criar as células em um loop
    grid_cells = []
    for x0 in np.arange(min_lon, max_lon, cell_size_deg_lon):
        for y0 in np.arange(min_lat, max_lat, cell_size_deg_lat):
            x1 = x0 + cell_size_deg_lon
            y1 = y0 + cell_size_deg_lat
            poly = shapely.geometry.box(x0, y0, x1, y1)
            grid_cells.append(poly)

    cells = gpd.GeoDataFrame(grid_cells, columns=['geometry'], crs=crs)
    
    return cells

In [92]:
min_lat, min_lon = -23.082, -43.795
max_lat, max_lon = -22.735, -43.099
cell_size = 50

In [93]:
grid_rio = criar_grid(min_lat, min_lon, max_lat, max_lon, cell_size)

In [77]:
grid_rio.to_file("grid_rio.geojson", driver="GeoJSON")

In [96]:
def join_com_grid(gdf, grid):
    # Realizar o join espacial
    gdf_joined = gpd.sjoin(gdf, grid, how='inner').drop_duplicates('geometry')
    
    # Manter apenas as colunas grid_id e geometry
    gdf_joined = gdf_joined[['geometry']]
    
    # Redefinir o índice para garantir que seja único
    gdf_joined.reset_index(drop=True, inplace=True)
    
    return gdf_joined

In [100]:
grid_315 = join_com_grid(gdf, grid_rio)
grid_315 = grid_315.reset_index(names='grid_id')

In [101]:
grid_315.head(10)

   grid_id                     geometry
0        0  POINT (-43.26380 -22.87139)
1        1  POINT (-43.26372 -22.87177)
2        2  POINT (-43.26385 -22.87177)
3        3  POINT (-43.26358 -22.87178)
4        4  POINT (-43.26377 -22.87139)
5        5  POINT (-43.26394 -22.87179)
6        6  POINT (-43.26370 -22.87174)
7        7  POINT (-43.26364 -22.87139)
8        8  POINT (-43.26394 -22.87141)
9        9  POINT (-43.26350 -22.87138)

In [105]:
def calcular_estatisticas(pontos_gdf, grid_gdf):
    pontos_na_grid = gpd.sjoin(pontos_gdf, grid_gdf, how='inner', op='within')
    contagem_pontos = pontos_na_grid.groupby('grid_id').size().reset_index(name='contagem_pontos')
    centroide_pontos = pontos_na_grid.groupby('grid_id').apply(lambda x: x.geometry.unary_union.centroid).reset_index(name='centroide_pontos')
    pontos_na_grid['hora'] = pd.to_datetime(pontos_na_grid['datahoraservidor'], unit='ms').dt.hour
    media_hora_pontos = pontos_na_grid.groupby('grid_id')['hora'].mean().reset_index(name='media_hora')
    estatisticas_grid = grid_gdf.merge(contagem_pontos, on='grid_id', how='left').merge(media_hora_pontos, on='grid_id', how='left').merge(centroide_pontos, on='grid_id', how='left')
    return estatisticas_grid

In [106]:
estatisticas_grid = calcular_estatisticas(gdf, grid_315)

/home/savio/anaconda3/lib/python3.11/site-packages/IPython/core/interactiveshell.py:3553: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  exec(code_obj, self.user_global_ns, self.user_ns)